<template>
  <div>
    <header>
      <nav
        class="navbar navbar-expand-lg fixed-top navbar-light bg-light border-3 border-top border-primary"
      >
        <router-link to="/" class="navbar-brand">Users</router-link>
        <div class="ml-auto" v-if="this.user.name == null">
          <router-link class="btn btn-outline-primary ml-2" to="/login">Login</router-link>
        </div>
        <div class="ml-auto" v-if="this.user.name != null">
          <span>{{user.name}}</span>
          <button class="btn btn-primary ml-2" @click="logout()">Logout</button>
        </div>
      </nav>
    </header>
    <div class="body-container container-fluid">
      <div v-if="isAdmin" class="mb-3">
        <form @submit.prevent="handleSubmit" class="form-inline">
          <form-input v-model="newUsername.value" :info="newUsername" class="mr-3"/>
          <form-input v-model="newPassword.value" :info="newPassword" class="mr-3"/>
          <div v-for="role in roles" class="form-check mr-3">
            <input class="form-check-input" type="checkbox" :id="role" :value="role" v-model="checkedRoles"> 
            <label class="form-check-label" :for="role">
              {{role}}
            </label>
          </div>
          <div v-if="errorMessage" class="alert alert-danger mt-3 mr-3">
            {{errorMessage}}
          </div>
          <button class="btn btn-success mr-3" type="submit">Add User</button>
        </form>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="orderable numeric" @click="sort('id')" :class="{ active: sortBy=='id', asc: sortOrder['id'] == 1, desc: sortOrder['id'] == -1}">ID</th>
            <th scope="col" class="orderable letters" @click="sort('name')" :class="{ active: sortBy=='name', asc: sortOrder['name'] == 1, desc: sortOrder['name'] == -1}">Name</th>
            <th scope="col">Roles</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>
              <ul>
                <li v-for="role in user.roles">{{role}}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import jwt from "jsonwebtoken";
import FormInput from "../components/Utils/FormInput.vue";

export default {
  name: "home",
  components: {
    FormInput
  },
  data: function() {
    return {
      user: {},
      users: [],
      roles: [],
      sortBy: null,
      sortOrder: {
        id: 1,
        name: 1
      },
      isAdmin: false,
      newUsername: {
        id: "username",
        value: "",
        icon: "fas fa-user",
        type: "text",
        placeholder: "Username",
        variantColor: "primary",
        textColor: "light",
        validations: []
      },
      newPassword: {
        id: "password",
        value: "",
        icon: "fas fa-lock",
        type: "password",
        placeholder: "Password",
        variantColor: "primary",
        textColor: "light",
        validations: []
      },
      checkedRoles:[],
      errorMessage: null
    };
  },
  created() {

    this.getUsers();
    this.getRoles();

    var token = sessionStorage.token;
    if (token != null) {
      this.user.name = jwt.decode(sessionStorage.token, {
        complete: true
      }).payload.name;
      this.user.roles = jwt.decode(sessionStorage.token, {
        complete: true
      }).payload.roles;
    }

    if (this.user.roles != null) {
      this.user.roles.forEach(role => {
        if (role == "admin") this.isAdmin = true;
      });
    }
  },
  methods: {
    getUsers() {
      var self = this;
      this.sortBy = null;
      axios
        .get(this.$apiurl + "/users")
        .then(function(response) {
          self.successGetUsers(response);
        })
        .catch(function(error) {
          self.users = [];
        });
    },
    successGetUsers(response) {
      this.users = response.data;
    },
    logout() {
      this.user = {};
      this.isAdmin = false;
      sessionStorage.clear();
    },
    getRoles() {
      var self = this;
      axios
        .get(this.$apiurl + "/roles")
        .then(function(response) {
          self.successGetRoles(response);
        })
        .catch(function(error) {
          self.roles = []
        });
    },
    successGetRoles(response) {
      this.roles = response.data;
    },
    handleSubmit() {
      this.newUsername.validations = [];
      this.newPassword.validations = [];
      this.errorMessage = null;
      var self = this;
      axios
        .post(this.$apiurl + "/users", {
          name: this.newUsername.value,
          password: this.newPassword.value,
          roles: this.checkedRoles
        }, {
        headers: {
          Authorization: sessionStorage.token 
        }}
        )
        .then(function(response) {
          self.successHandleSubmit(response);
        })
        .catch(function(error) {
          self.errorHandleSubmit(error.response);
        });
    },
    successHandleSubmit(response) {
      this.getUsers();
    },
    errorHandleSubmit(response) {
      if (typeof response === 'undefined') {
        this.errorMessage = 'Error connecting to the server';
      } else {
        if (response.status == 409) {
          this.newUsername.validations = response.data.name;
          this.newPassword.validations = response.data.password;
        } else {
          this.errorMessage = response.data;
        }
      }
    }, 
    sort(field) {
      var self = this;
      this.sortBy = field;
      this.sortOrder[field] *= -1;
      function compare(a, b) {
        if (a[field] < b[field])
          return -1 * self.sortOrder[field];
        if (a[field] > b[field])
          return 1 * self.sortOrder[field];
        return 0;
      }

      this.users.sort(compare);
      
    }
  }
};
</script>

<style lang="scss">
.body-container {
  margin-top: 59px;
  padding: 1rem;
  height: calc(100vh - 59px);
}

.orderable {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &.active {
    text-decoration: underline;
    &::after {
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      float: right;
    }
    &.asc {
      &.numeric {
        &::after {
          content: "\f162"
        }
      }
      &.letters {
        &::after {
          content: "\f15e"
        }
      }
    }
    &.desc {
      &.numeric {
        &::after {
          content: "\f163"
        }
      }
      &.letters {
        &::after {
          content: "\f15d"
        }
      }
    }
  }
}
</style>
