<template>
  <div class="login-container bg-light d-flex">
    <card class="card-login">
      <div class="card-body">
        <form @submit.prevent="handleSubmit">
          <form-input v-model="name.value" :info="name"/>
          <form-input v-model="password.value" :info="password"/>
          <div v-if="errorMessage" class="alert alert-danger mt-3 ">
            {{errorMessage}}
          </div>
          <button type="submit" class="btn btn-primary col">Login</button>
        </form>
        <div class="text-center mt-3"><router-link  to="/">Back to home</router-link></div>
      </div>
    </card>
  </div>
</template>

<script>
import axios from "axios";
import FormInput from "../components/Utils/FormInput.vue";
import Card from "../components/Utils/Card.vue";

export default {
  components: {
    FormInput,
    Card
  },
  data: function() {
    return {
      name: {
        id: "username",
        value: "",
        icon: "fas fa-user",
        type: "text",
        placeholder: "Username",
        variantColor: "primary",
        textColor: "light",
        validations: []
      },
      password: {
        id: "password",
        value: "",
        icon: "fas fa-lock",
        type: "password",
        placeholder: "Password",
        variantColor: "primary",
        textColor: "light",
        validations: []
      },
      errorMessage : null
    };
  },
  methods: {
    handleSubmit() {
      this.name.validations = [];
      this.password.validations = [];
      this.errorMessage = null;
      var self = this;
      axios
        .post(this.$apiurl + "/auth", {
          name: this.name.value,
          password: this.password.value
        })
        .then(function(response) {
          self.successHandleSubmit(response);
        })
        .catch(function(error) {
          self.errorHandleSubmit(error.response);
        });
    },
    successHandleSubmit(response) {
      sessionStorage.clear();
      sessionStorage.setItem("token", response.data);
      this.$router.push({ name: "home" });
    },
    errorHandleSubmit(response) {
      if (typeof response === 'undefined') {
        this.errorMessage = 'Error connecting to the server';
      } else {
        if (response.status == 409) {
          this.name.validations = response.data.name;
          this.password.validations = response.data.password;
        } else {
          this.errorMessage = response.data;
        }
      }

    }
  }
};
</script>


