@import "./bootstrap/bootstrap.scss";

@for $i from 1 through 4 {
    .border-#{$i} {
        border-width:  $i + px !important;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.75rem;
}

.card {
    border-top: 3px solid theme-color("primary");
}

.login-container {
    width: 100%;
    min-height: 100vh;
    @include media-breakpoint-down(sm) {
        margin: auto;
        width: 100%;
        padding: 1rem;
    }
}
  
.card-login {
    margin: auto;
    width: 400px;
    max-width: 400px;
    @include media-breakpoint-down(sm) {
        margin: auto;
        width: 100%;
    }
}

.custom-control {
    min-height: unset;
    .custom-control-label {
        &::after {
            top: 0;
        }
        &::before {
            top: 0;
        }
    }
}