<template>
    <div class="form-group">
        <label :for="info.id" v-if="info.label">{{ info.label }}</label>
        <div class="input-group">
            <div class="input-group-prepend" v-if="info.icon">
                <span :class="['border-' + info.variantColor, 'bg-' + info.variantColor, 'text-' + info.textColor]" class="input-group-text">
                    <i :class="info.icon" class=" fa-fw"></i>
                </span>
            </div>
            <input :id="info.id" v-bind:value="info.value"
            v-on:input="$emit('input', $event.target.value)" 
            class="form-control" :class="['border-' + info.variantColor]" :type="info.type" :placeholder="info.placeholder">
        </div>
        <ul class="alert alert-danger mt-3 " v-if="info.validations && info.validations.length > 0">
            <li v-for="(error) in info.validations">
                {{error}}
            </li>
        </ul>
        <span v-if="info.error">{{ info.error }}</span>
    </div>    
</template>

<script>
export default {
    name : 'form-input',
    props : {
        info : Object
    }

}
</script>
